@media (min-width: 375px) {
    .parent, .flex {
        flex-direction: column;        
    }
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.otf');
    src: url('Fraunces_9pt-Black.ttf');
}
body {
    background-color: hsl(30, 38%, 92%);
}
.parent {
    border-radius: 10px;
    background-color: hsl(30, 38%, 92%);
    margin: 30px auto;
    width: 700px;
    height: 900px;
}
.flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.image {
    background-image: url('image-product-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    height: 600px;
    margin: 150px auto;
    width: 400px;
}
.right {
    border-radius: 10px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    background-color: white;
    height: 550px;
    margin: 150px auto;
    width: 300px;
    padding: 25px;
}
h1 {
    color: rgba(133, 121, 121, 0.644);
    float:left;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-weight: 800;
    font-size: 40px;
    font-family: 'Montserrat';
}
p {
    color: rgba(58, 52, 52, 0.644);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 30px;
}
.btn {
    border: none;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 90%;
    background: hsl(158, 36%, 37%);
    cursor: pointer;
}
.btn:hover {
    background: hsl(158, 94%, 19%);
}
.but {
    display: flex;
    font-size: 15px;
    font-weight: 700;
    flex-wrap: nowrap;
    align-items: center; 
    justify-content: center; 
    color: white;
}
.flex2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left; 
    align-items: center;
    vertical-align: middle;
}
.funds {
    color:hsl(158, 36%, 37%);
    font-size: 40px;
    font-family: 'Montserrat';
}
.small {
    color: rgba(133, 121, 121, 0.644);
    font-size: 15px;
    font-family: 'Montserrat';
    justify-content: center;
    vertical-align: middle;
    padding: 10px;
}